.facets-zalando-links {
  border: 1px solid black;
  list-style: none;
  color: inherit;
  padding: 0px;
  padding-left: 10px;
  width: fit-content;
  min-width: 300px;
}

.facets-zalando-links a {
  color: inherit;
}

.facets-zalando-links a:hover {
    text-decoration: none;
    color: inherit;
}

.facets-zalando-links .facet-item {
  border-bottom: 1px solid black;
  padding: 16px 16px 16px 0px;
  text-align: left;
}
